.navbar-brand img {
    max-width: 120px;
  }
  
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;

  }
  
  .navbar-nav {
    display: flex;
    align-items: baseline;
  }
  
  .navbar-nav .nav-item {
    margin: 0 10px;
  }
  
  .navbar-nav .nav-item .nav-link img {
    max-width: 100px;
    border-radius: 100%;
  }
  
  .container-fluid {
    padding-left: 170px;
    padding-right: 200px;
  }
  
  .search-bar-container {
    flex-grow: 1;
    margin: 0 15px;
  }