.search-bar {
  max-width: 700px;
  margin: 0 auto;
}

.input-group .form-control {
  font-size: 0.875rem;
}

.input-group-text {
  font-size: 0.875rem;
}

.input-group .btn {
  font-size: 0.875rem;
}
